In [40]:
import pandas as pd
import pickle
import matplotlib.pyplot as plt
import numpy as np

In [2]:
with open('stock_price_df.pkl', 'rb') as f:
    df = pickle.load(f)

In [3]:
df.head()

           10:30                                                          ...  \
             AAA AAC  AACG AACI AACIU AACIW AAIN AAMC    AAME       AAON  ...
Datetime                                                                  ...
2020-07-27   NaN NaN   NaN  NaN   NaN   NaN  NaN  NaN  1.8050  57.864498  ...
2020-07-28   NaN NaN  1.17  NaN   NaN   NaN  NaN  NaN  1.8546  57.189999  ...
2020-07-29   NaN NaN  1.08  NaN   NaN   NaN  NaN  NaN     NaN  57.770000  ...
2020-07-30   NaN NaN  1.08  NaN   NaN   NaN  NaN  NaN  1.8598  57.730000  ...
2020-07-31   NaN NaN  1.07  NaN   NaN   NaN  NaN  NaN     NaN  58.750000  ...

                14:30
                ZIONP   ZIVO ZIVOW  ZT ZTAQU ZVIA     ZVO ZWRK ZWRKU ZWRKW
Datetime
2020-07-27        NaN    NaN   NaN NaN   NaN  NaN  3.8400  NaN   NaN   NaN
2020-07-28        NaN    NaN   NaN NaN   NaN  NaN  3.7600  NaN   NaN   NaN
2020-07-29  21.459999  0.105   NaN NaN   NaN  NaN  3.7900  NaN   NaN   NaN
2020-07-30  21.669901    NaN   NaN NaN   NaN  NaN  3.5699  NaN   NaN   NaN
2020-07-31        NaN    NaN   NaN NaN   NaN  NaN  4.0800  NaN   NaN   NaN

[5 rows x 9604 columns]

In [21]:
morning_df = df['10:30']
afternoon_df = df['14:30']

In [46]:
def analyze_ticker(ticker):
    ticker_today_morning_prices = morning_df[ticker].iloc[1:].values
    ticker_yesterday_afternoon_prices = afternoon_df[ticker].iloc[:-1].values
    dpr = (ticker_today_morning_prices - ticker_yesterday_afternoon_prices) / ticker_yesterday_afternoon_prices
    one_week = dpr[-4:]
    print("One week dpr:")
    print(one_week)
    one_week = one_week[~np.isnan(one_week)]
    print(f"25th percentile = {np.quantile(one_week, 0.25)}")
    print(f"50th percentile = {np.quantile(one_week, 0.5)}")
    print(f"75th percentile = {np.quantile(one_week, 0.75)}")

In [47]:
analyze_ticker('OPTT')

One week dpr:
[0.12367648 0.06040536        nan 0.05333336]
25th percentile = 0.05686936092545089
50th percentile = 0.060405359907338946
75th percentile = 0.092040920487685

In [53]:
analyze_ticker('SOPH')

One week dpr:
[0.05352114 0.06056342        nan 0.02923974]
25th percentile = 0.04138044057113631
50th percentile = 0.05352114359790028
75th percentile = 0.057042283837792356

In [54]:
analyze_ticker('BW')

One week dpr:
[0.02346039 0.01724136        nan 0.04341537]
25th percentile = 0.020350875183137617
50th percentile = 0.023460387593088994
75th percentile = 0.03343787812067784